In [1]:
import numpy as np

In [2]:
import pandas as pd

In [3]:
import scipy

In [4]:
from sklearn.preprocessing import LabelEncoder

In [5]:
le = LabelEncoder()

In [6]:
df = pd.read_csv('Age-Income-Dataset - Sheet1.csv')
df

           Age  Income
0        Young   25000
1   Middle Age   54000
2          Old   60000
3        Young   15000
4        Young   45000
5        Young   65000
6        Young   70000
7        Young   30000
8   Middle Age   27000
9        Young   23000
10       Young   48000
11         Old   52000
12       Young   33000
13         Old   80000
14         Old   75000
15         Old   35000
16  Middle Age   29000
17  Middle Age   57000
18         Old   43000
19  Middle Age   56000
20         Old   63000
21         Old   32000
22         Old   45000
23         Old   89000
24  Middle Age   90000
25  Middle Age   93000
26       Young   80000
27       Young   87000
28       Young   38000
29       Young   23000
30  Middle Age   38900
31  Middle Age   53200
32         Old   43800
33  Middle Age   25600
34  Middle Age   65400
35         Old   76800
36         Old   89700
37         Old   41800
38       Young   31900
39         Old   25600
40  Middle Age   45700
41         Old   35600
42       Young   54300
43  Middle Age   65400
44         Old   67800
45         Old   24500
46  Middle Age   34900
47         Old   45300
48       Young   68400
49  Middle Age   51700

In [7]:
df.isnull().sum()

Age       0
Income    0
dtype: int64

In [8]:
df.shape

(50, 2)

In [9]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 50 entries, 0 to 49
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Age     50 non-null     object
 1   Income  50 non-null     int64
dtypes: int64(1), object(1)
memory usage: 932.0+ bytes

In [10]:
df.describe()

             Income
count     50.000000
mean   50966.000000
std    21096.683268
min    15000.000000
25%    33475.000000
50%    46850.000000
75%    65400.000000
max    93000.000000

In [11]:
mean_income = df['Income'].mean()
print(mean_income)

50966.0

In [12]:
median_income = df['Income'].median()
print(median_income)

46850.0

In [13]:
std_income = df['Income'].std()
std_income

np.float64(21096.683267707253)

In [14]:
min_income = df['Income'].min()
min_income

np.int64(15000)

In [15]:
max_income = df['Income'].max()
max_income

np.int64(93000)

In [16]:
twentyfive_percent_income = np.percentile(df['Income'],25)
twentyfive_percent_income

np.float64(33475.0)

In [17]:
half_percent_income = np.percentile(df['Income'],50)
half_percent_income

np.float64(46850.0)

In [18]:
seventyfive_percent_income = np.percentile(df['Income'],75)
seventyfive_percent_income

np.float64(65400.0)

In [19]:
#Without Libraries
def custom_mean(column):
    data = column.tolist()
    return sum(data)/len(data)
custom_mean_income = custom_mean(df['Income'])
custom_mean_income

50966.0

In [20]:
def custom_median(column):
    data = column.tolist()
    data = sorted(data)
    n = len(data)
    mid = n//2
    if n%2 == 0:
        return (data[mid-1] + data[mid])/2
    else:
        return data[mid]

custom_median_income = custom_median(df['Income'])
custom_median_income

46850.0

In [21]:
def standard(column):
    data = column.tolist()
    mean = custom_mean(column)
    squared_diff = [(x-mean)**2 for x in data]
    variance = sum(squared_diff)/(len(data)-1)
    return variance**0.5

custom_deviation = standard(df['Income'])
custom_deviation

21096.683267707253

In [22]:
def custom_min(column):
    data = column.tolist()
    min_val = data[0]
    for x in data:
        if x < min_val:
            min_val = x
    return min_val

custom_min_income = custom_min(df['Income'])
custom_min_income

15000

In [23]:
def custom_max(column):
    data = column.tolist()
    max_val = data[0]
    for x in data:
        if x > max_val:
            max_val = x
    return max_val

custom_max_income = custom_max(df['Income'])
custom_max_income

93000

In [24]:
income_summary = df.groupby('Age')['Income'].describe()
print(income_summary)

            count          mean           std      min      25%      50%  \
Age
Middle Age   15.0  52453.333333  20497.800114  25600.0  36900.0  53200.0
Old          19.0  53942.105263  20868.165968  24500.0  38700.0  45300.0
Young        16.0  46037.500000  22356.859499  15000.0  28750.0  41500.0

                75%      max
Age
Middle Age  61200.0  93000.0
Old         71400.0  89700.0
Young       65850.0  87000.0

In [25]:
df['Encoded_Age'] = le.fit_transform(df['Age'])
df

           Age  Income  Encoded_Age
0        Young   25000            2
1   Middle Age   54000            0
2          Old   60000            1
3        Young   15000            2
4        Young   45000            2
5        Young   65000            2
6        Young   70000            2
7        Young   30000            2
8   Middle Age   27000            0
9        Young   23000            2
10       Young   48000            2
11         Old   52000            1
12       Young   33000            2
13         Old   80000            1
14         Old   75000            1
15         Old   35000            1
16  Middle Age   29000            0
17  Middle Age   57000            0
18         Old   43000            1
19  Middle Age   56000            0
20         Old   63000            1
21         Old   32000            1
22         Old   45000            1
23         Old   89000            1
24  Middle Age   90000            0
25  Middle Age   93000            0
26       Young   80000            2
27       Young   87000            2
28       Young   38000            2
29       Young   23000            2
30  Middle Age   38900            0
31  Middle Age   53200            0
32         Old   43800            1
33  Middle Age   25600            0
34  Middle Age   65400            0
35         Old   76800            1
36         Old   89700            1
37         Old   41800            1
38       Young   31900            2
39         Old   25600            1
40  Middle Age   45700            0
41         Old   35600            1
42       Young   54300            2
43  Middle Age   65400            0
44         Old   67800            1
45         Old   24500            1
46  Middle Age   34900            0
47         Old   45300            1
48       Young   68400            2
49  Middle Age   51700            0